main {
    width: 960px;
    margin: 0px auto;
    background-color: aliceblue;
}
.fullcard-container {
    width:600px;

}
.column2 {
    float:left;
    width:200px;
      

}
.column3 {
    float:left;
    width:200px;    
   
}

.column4 {
    float: left;
    
   
}

.clearfix {
    clear:100%;
}

.column1 {
    float: left;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    background-color: coral;
}

.column2 {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */
.row {
    float: right;
    width: 50%;
    max-height: 200px;
    overflow: scroll;
}