main {
    width: 960px;
    margin: 0px auto;
    background color: aliceblue;
}
.fullcard {
    width: 45%;
}
.fullcard:first-child{
    float:left;

}
.fullcard:last-child{
    float:right;
}

.fullcard img {
    width: 100%;
}

}
.clearfix {
    clear:100%;
}
.column1 {
    float: left;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    background-color: coral;
}

.column2 {
    float: right;
    width: 50%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}